<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= @item[:title] %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- docss -->
  <link rel="stylesheet" href="/static/shared/css/all.css" type="text/css" media="screen" />
  <!-- custom -->
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />

  <%= render 'google-analytics' %>
</head>

<body>

  <div id="header" class="container_12 clearfix">
    <div id="logo" class="grid_6">
      <a href="/"><em>the</em> Rubyist</a>
    </div>
    <div id="menu" class="grid_6">
      <ul id="nav" class="clearfix">
      </ul>
    </div>
  </div>

  <hr class="single separator_12" />

  <div id="content" class="container_12 clearfix">
    <div id="main" class="grid_8">
      <%= yield %>
    </div>
    <div id="sidebar" class="grid_3 prefix_1">
      <%= render 'sidebar' %>
    </div>
  </div>

  <hr class="single separator_12" />

  <div id="footer" class="container_12 clearfix">
    <div id="copy">
      Copyright &copy; 2011 <a href="http://www.simonecarletti.com">Simone Carletti</a>
    </div>
  </div>

</body>
</html>
