<h2>Ruby</h2>

<ul>
  <li><a href="/ruby/editor/">Editor</a></li>
  <li><a href="/ruby/naming/">Naming</a></li>
  <li><a href="/ruby/style/">Naming</a></li>
  <li><a href="/ruby/documentation/">Documentation</a></li>
  <li><a href="/ruby/documentation/">Yardoc</a></li>
</ul>

<h2>Rails</h2>

<ul>
  <li><a href="/rails/design/">Design</a></li>
  <li><a href="/rails/i18n/">I18n</a></li>
  <li><a href="/rails/style/">Style</a></li>
  <li><a href="/rails/documentation/">Documentation</a></li>
  <li><a href="/rails/extensions/">Extensions</a></li>
</ul>
