<h2><em>the</em> Rubyist</h2>

<ul>
  <li><a href="/">Index</a></li>
  <li><a href="/preface/">Preface</a></li>
  <li><a href="/editor/">Editor Conventions</a></li>
  <li><a href="/naming/">Naming Conventions</a></li>
  <li><a href="/style/">Coding Style</a></li>
</ul>

<h2>Documentation</h2>

<ul>
  <li><a href="/documentation/">Index</a></li>
  <li><a href="/documentation/yardoc/">Yardoc</a></li>
</ul>

<h2>Rails</h2>

<ul>
  <li><a href="/rails/design/">Design Conventions</a></li>
  <li><a href="/rails/i18n/">I18n</a></li>
  <li><a href="/rails/documentation/">Documentation</a></li>
  <li><a href="/rails/extensions/">Extensions</a></li>
  <li><a href="/rails/models/">Models</a></li>
</ul>

<div class="module">
  <p>This website is <a href="http://github.com/weppos/rubyist" target="_blank">open source</a>. Please help us by forking the project and adding to it.</p>
</div>