a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%;}
html,body{height:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
b,strong{font-weight:bold;}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}
li{display:list-item;}
table{border-collapse:collapse;border-spacing:0;}
th,td,caption{font-weight:normal;vertical-align:top;text-align:left;}
svg{overflow:hidden;}
body{min-width:960px;}
.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px;}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15{position:relative;}
.container_12 .grid_3,.container_16 .grid_4{width:220px;}
.container_12 .grid_6,.container_16 .grid_8{width:460px;}
.container_12 .grid_9,.container_16 .grid_12{width:700px;}
.container_12 .grid_12,.container_16 .grid_16{width:940px;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.container_12 .grid_1{width:60px;}
.container_12 .grid_2{width:140px;}
.container_12 .grid_4{width:300px;}
.container_12 .grid_5{width:380px;}
.container_12 .grid_7{width:540px;}
.container_12 .grid_8{width:620px;}
.container_12 .grid_10{width:780px;}
.container_12 .grid_11{width:860px;}
.container_16 .grid_1{width:40px;}
.container_16 .grid_2{width:100px;}
.container_16 .grid_3{width:160px;}
.container_16 .grid_5{width:280px;}
.container_16 .grid_6{width:340px;}
.container_16 .grid_7{width:400px;}
.container_16 .grid_9{width:520px;}
.container_16 .grid_10{width:580px;}
.container_16 .grid_11{width:640px;}
.container_16 .grid_13{width:760px;}
.container_16 .grid_14{width:820px;}
.container_16 .grid_15{width:880px;}
.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px;}
.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px;}
.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px;}
.container_12 .prefix_1{padding-left:80px;}
.container_12 .prefix_2{padding-left:160px;}
.container_12 .prefix_4{padding-left:320px;}
.container_12 .prefix_5{padding-left:400px;}
.container_12 .prefix_7{padding-left:560px;}
.container_12 .prefix_8{padding-left:640px;}
.container_12 .prefix_10{padding-left:800px;}
.container_12 .prefix_11{padding-left:880px;}
.container_16 .prefix_1{padding-left:60px;}
.container_16 .prefix_2{padding-left:120px;}
.container_16 .prefix_3{padding-left:180px;}
.container_16 .prefix_5{padding-left:300px;}
.container_16 .prefix_6{padding-left:360px;}
.container_16 .prefix_7{padding-left:420px;}
.container_16 .prefix_9{padding-left:540px;}
.container_16 .prefix_10{padding-left:600px;}
.container_16 .prefix_11{padding-left:660px;}
.container_16 .prefix_13{padding-left:780px;}
.container_16 .prefix_14{padding-left:840px;}
.container_16 .prefix_15{padding-left:900px;}
.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px;}
.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px;}
.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px;}
.container_12 .suffix_1{padding-right:80px;}
.container_12 .suffix_2{padding-right:160px;}
.container_12 .suffix_4{padding-right:320px;}
.container_12 .suffix_5{padding-right:400px;}
.container_12 .suffix_7{padding-right:560px;}
.container_12 .suffix_8{padding-right:640px;}
.container_12 .suffix_10{padding-right:800px;}
.container_12 .suffix_11{padding-right:880px;}
.container_16 .suffix_1{padding-right:60px;}
.container_16 .suffix_2{padding-right:120px;}
.container_16 .suffix_3{padding-right:180px;}
.container_16 .suffix_5{padding-right:300px;}
.container_16 .suffix_6{padding-right:360px;}
.container_16 .suffix_7{padding-right:420px;}
.container_16 .suffix_9{padding-right:540px;}
.container_16 .suffix_10{padding-right:600px;}
.container_16 .suffix_11{padding-right:660px;}
.container_16 .suffix_13{padding-right:780px;}
.container_16 .suffix_14{padding-right:840px;}
.container_16 .suffix_15{padding-right:900px;}
.container_12 .push_3,.container_16 .push_4{left:240px;}
.container_12 .push_6,.container_16 .push_8{left:480px;}
.container_12 .push_9,.container_16 .push_12{left:720px;}
.container_12 .push_1{left:80px;}
.container_12 .push_2{left:160px;}
.container_12 .push_4{left:320px;}
.container_12 .push_5{left:400px;}
.container_12 .push_7{left:560px;}
.container_12 .push_8{left:640px;}
.container_12 .push_10{left:800px;}
.container_12 .push_11{left:880px;}
.container_16 .push_1{left:60px;}
.container_16 .push_2{left:120px;}
.container_16 .push_3{left:180px;}
.container_16 .push_5{left:300px;}
.container_16 .push_6{left:360px;}
.container_16 .push_7{left:420px;}
.container_16 .push_9{left:540px;}
.container_16 .push_10{left:600px;}
.container_16 .push_11{left:660px;}
.container_16 .push_13{left:780px;}
.container_16 .push_14{left:840px;}
.container_16 .push_15{left:900px;}
.container_12 .pull_3,.container_16 .pull_4{left:-240px;}
.container_12 .pull_6,.container_16 .pull_8{left:-480px;}
.container_12 .pull_9,.container_16 .pull_12{left:-720px;}
.container_12 .pull_1{left:-80px;}
.container_12 .pull_2{left:-160px;}
.container_12 .pull_4{left:-320px;}
.container_12 .pull_5{left:-400px;}
.container_12 .pull_7{left:-560px;}
.container_12 .pull_8{left:-640px;}
.container_12 .pull_10{left:-800px;}
.container_12 .pull_11{left:-880px;}
.container_16 .pull_1{left:-60px;}
.container_16 .pull_2{left:-120px;}
.container_16 .pull_3{left:-180px;}
.container_16 .pull_5{left:-300px;}
.container_16 .pull_6{left:-360px;}
.container_16 .pull_7{left:-420px;}
.container_16 .pull_9{left:-540px;}
.container_16 .pull_10{left:-600px;}
.container_16 .pull_11{left:-660px;}
.container_16 .pull_13{left:-780px;}
.container_16 .pull_14{left:-840px;}
.container_16 .pull_15{left:-900px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
body{font-size:62.5%;font-family:"Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;font-weight:300;background:#fff;color:#333;}
h1,h2,h3,h4,h5,h6{letter-spacing:-.03em;font-weight:bold;}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure{margin-bottom:20px;margin-bottom:.75em;}
h1{font-size:220%;margin:1em 0 .5em 0;line-height:1.25em;}
h2{font-size:160%;margin:1em 0 .5em 0;line-height:1.25em;}
h3{font-size:130%;margin:.75em 0 .35em 0;}
h4{font-size:110%;margin:1em 0 .25em 0;}
h5{font-size:110%;margin:.25em 0;}
h6{font-size:100%;margin:0;}
hr{margin:0;padding:0;border:0 #ddd solid;height:1px;background-color:#FFF;clear:both;}
strong{color:#000;}
ol{list-style:decimal;}
ul{list-style:disc;}
li{margin-left:30px;}
hr.single{border-top-style:solid;border-top-width:1px;}
hr.dotted{border-top-style:dotted;border-top-width:1px;}
hr.double{border-top-style:double;border-top-width:1px;}
hr.separator_12{width:940px;margin:1em auto;}
.prepend-top{margin-top:1.5em;}
.append-bottom{margin-bottom:1.5em;}
a{color:#369;color:#06A;text-decoration:none;}
a:hover{color:#008200;color:#06A;text-decoration:underline;}
code{font-size:90%;font-family:Monaco,Consolas,monospace;color:#000;padding:2px 5px;}
pre{font-size:90%;font-family:Monaco,Consolas,monospace;background-color:#f8f8f8;border:1px solid #ddd;border-left-width:5px;display:block;line-height:150%;overflow:auto;padding:15px;}
pre>code{padding:0;}
a code{color:#06A;text-decoration:none;}
a:hover code{color:#06A;text-decoration:underline;}
abbr,acronym{font-family:monotype;border-bottom:1px dotted silver;}
blockquote{margin:1em;padding:0 0 0 25px;color:#666;background:url(/images/layout/blockquote-open.png) no-repeat left top;font-family:Georgia,"Bitstream Vera Serif",Times,serif;font-style:normal;}
#header{margin:.5em auto;padding:0;background:#fff;}
#header #logo a{font-family:"Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;font-size:60px;color:#111;letter-spacing:-.05em;font-weight:bold;margin:0;text-shadow:#CCC 1px 1px 0;}
#header #logo a,#header #logo a:hover{color:#111;text-decoration:none;}
#header #logo a em{color:#666;font-family:Georgia,"Bitstream Vera Serif",Times,serif;font-size:80%;margin-left:-5px;}
#header #menu{text-align:right;font-family:"Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;font-size:140%;font-variant:small-caps;text-transform:lowercase;}
#header #menu ul{padding:2em 0 0 0;margin:0;list-style-type:none;}
#header #menu ul li{display:inline;margin:0;padding:0 .75em 0 .5em;border-right:1px dotted #ddd;}
#header+hr{margin:.75 auto 1.5em auto;}
#content{margin:1.5em auto;font-size:125%;line-height:1.6;}
#sidebar{font-size:90%;}
#sidebar h2{font-size:110%;text-transform:uppercase;}
#sidebar>h2,#sidebar>h3,#sidebar>h4{margin-top:.25em;}
#sidebar h2 a:hover,#sidebar h3 a:hover,#sidebar h4 a:hover{color:#06a;text-decoration:none;}
#prefooter{font-size:120%;}
#prefooter h6{text-transform:uppercase;padding-bottom:.5em;margin:.5em 0;border-bottom:1px dotted #ddd;}
#prefooter ol,#prefooter ul{list-style-type:none;margin:0;}
#prefooter li{margin:.5em 0;}
#footer{font-size:110%;margin-top:0;margin-bottom:1em;padding:1em 0;color:#333;text-align:center;}
table{width:100%;font-size:.85em;}
table th{font-weight:normal;font-variant:small-caps;text-align:right;color:white;background-color:#333;padding:3px 6px;}
table td{background-color:#f3f3f3;padding:3px 6px;}
table td code{background-color:#f3f3f3;}
.textcenter{text-align:center;}
.textleft{text-align:left;}
.textright{text-align:right;}
.alignleft{float:left;display:inline;}
.alignright{float:right;display:inline;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
img.alignright{padding:4px;margin:0 0 2px 7px;}
img.alignleft{padding:4px;margin:0 7px 2px 0;}
img.aligncenter{width:auto;}
.highlight .c{color:#998;font-style:italic;}
.highlight .err{color:#a61717;background-color:#e3d2d2;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{color:#998;font-style:italic;}
.highlight .cp{color:#999;font-weight:bold;}
.highlight .c1{color:#998;font-style:italic;}
.highlight .cs{color:#999;font-weight:bold;font-style:italic;}
.highlight .gd{color:#000;background-color:#fdd;}
.highlight .gd .x{color:#000;background-color:#faa;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#a00;}
.highlight .gh{color:#999;}
.highlight .gi{color:#000;background-color:#dfd;}
.highlight .gi .x{color:#000;background-color:#afa;}
.highlight .go{color:#888;}
.highlight .gp{color:#555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#aaa;}
.highlight .gt{color:#a00;}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{color:#458;font-weight:bold;}
.highlight .m{color:#099;}
.highlight .s{color:#d14;}
.highlight .na{color:#008080;}
.highlight .nb{color:#0086B3;}
.highlight .nc{color:#458;font-weight:bold;}
.highlight .no{color:#008080;}
.highlight .ni{color:#800080;}
.highlight .ne{color:#900;font-weight:bold;}
.highlight .nf{color:#900;font-weight:bold;}
.highlight .nn{color:#555;}
.highlight .nt{color:#000080;}
.highlight .nv{color:#008080;}
.highlight .ow{font-weight:bold;}
.highlight .w{color:#bbb;}
.highlight .mf{color:#099;}
.highlight .mh{color:#099;}
.highlight .mi{color:#099;}
.highlight .mo{color:#099;}
.highlight .sb{color:#d14;}
.highlight .sc{color:#d14;}
.highlight .sd{color:#d14;}
.highlight .s2{color:#d14;}
.highlight .se{color:#d14;}
.highlight .sh{color:#d14;}
.highlight .si{color:#d14;}
.highlight .sx{color:#d14;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#d14;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#008080;}
.highlight .vi{color:#008080;}
.highlight .il{color:#099;}